.navbar {
  position: absolute;
  overflow: hidden;
  border-style: none;
  border-radius: 0px;
  width: 100%;
  background-color: #c9c9c9;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica, Sans-Serif;
}


/* Change the color of links on hover */
.navbar a:hover {
  background-color: #d5e7f7;
  color: black;
  text-decoration: none;
}
/* Change the color of links on hover */
.navbar a:click {
  background-color: white;
  color: #dbdbce;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

.navbar .sources a{
  float:right;
  text-align:right;
}

h1 {
  text-align: left;
  font-family: Helvetica, Sans-Serif;
  font-size: 40px;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 35px;
  /*text-shadow: 0px 0px 4px #000000;*/
}